/* https://www.figma.com/file/a1xUD6nInLKRz6evFKKdir/My-unsplash?type=design&node-id=0-1&mode=design&t=QAQ4zCOVfkSxEoXI-0 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@500;700;800&display=swap');

/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans', sans-serif;
*/

:root {
  --titleBlackStrong: #333333;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--titleBlackStrong);
}

html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button { 
  cursor: pointer;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

i { font-style: normal; }

#app { 
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(4vh,min-content) minmax(100vh,min-content) minmax(6vh,7vh);
  grid-template-areas:
        "header"
        "main"
        "footer";
}

